/* Styles go here */

.cardsa {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: space-evenly;
}

.actualCard {
  text-decoration: none;
  width: 50vw;
}

.adder {
  width: 50vw;
}

@media only screen and (max-width: 480px) {
  .actualCard {
    text-decoration: none;
    width: 90vw;
  }
  .adder {
    width: 90vw;
  }
}
